*{
    margin: 0;
    padding: 0;
}

   body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://krot.info/uploads/posts/2020-01/1579540358_19-44.jpg");
    background-attachment: fixed;
    background-size: cover;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-image: url("https://funart.pro/uploads/posts/2020-04/1585770601_50-p-zablyurennie-foni-114.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.logotip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
}
.photo{
    margin-left: 20px;
    margin-top: 10px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid rgb(59, 173, 164);
}
.nomer{
    margin-right: 20px;
    justify-self: start;
    margin-top: 25px;
}
h2{
    text-align: center;
}
.navigacia{
    width: 100%;
    margin-top: 10px;
    background-color: rgba(195, 216, 211, 0.685);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 35px;
}
nav>a{
    margin-top: 10px;
    text-align: center;
    font-size: large;
    color: rgb(14, 48, 240);
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#table{
    order:2;
}
a{
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    color:rgb(2, 54, 61);
}
#ssilki{
    list-style-position: inside;
}
table{
    border: 2px double black;
    
}
th{
    font-size: 20px;
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color: rgba(68, 187, 235, 0.692); 
}
tr:nth-child(even){
    background-color: #d0f11298; 
}
footer{
    width: 100%;
    height: 100px;
    background-image: url("https://funart.pro/uploads/posts/2020-04/1585770601_50-p-zablyurennie-foni-114.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-size: 2500px;
}
footer p{
    color: white;
    padding-top: 30px;
}
label{
    font-size: 25px;
}
p{
    font-size: large;
}
@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 65px;
        box-shadow: 0 0 10px rgba(12, 12, 12, 0.5);
    }
    .logotip{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 960px;
    }
    .photo{
        margin-top: 0;
        height: 60px;
    }
    .nomer{
        margin-top: 10px;
    }
    .navigacia{
        width: 960px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav>a{
        font-size: medium;
    }
    #table{
        order: 0;
    }
    a{
        font-size: medium;
    }
    footer{
        height: 60px;
    }
    footer p{
        padding-top: 15px;
    }
    label{
        font-size: medium;
    }
    p{
        font-size: medium;
    }
}


